p{
  font-family:sans-serif;
  font-size:25px;

}
h4{
  font-family:sans-serif;
  font-size:27px;
}

h5{
  font-family:sans-serif;
}

img{
  width:600px;
  float:right;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 50px;
  margin:10px;
}

.RIGHT{
  float: right;
}

.LEFT{
  float: left;
}

.TEXTL{
  width:600px;
}

.TEXTR{
  text-align:right;
  width:600px;
  margin-left:auto;
}

.CR{
  width:800px;
}

.captionR{
  text-align: right;
  font-family: sans-serif;
  color:#a5a5a5
}
.captionL{
  text-align: left;
  font-family: sans-serif;
  color:#a5a5a5
}


.two-column {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;   
  gap: 2rem;                 
}

.text-column {
  flex: 1;                  
}

.image-with-text {
  width: 600px;          
  text-align: center;
  flex: 0 0 45%; 
  max-width: 600px; 
  text-align: center;
}

.image-with-text img {
  display: block;
  width: 100%;
  height: auto;

}

.caption {
  margin-top: 8px;
  font-size: 0.95rem;
  color: #444;
}

.two-column.reverse {
  flex-direction: row-reverse;

}
a {
    border-style:solid;
    border-color:#ffe734;
    border-radius:5px;
    padding:2px;
    text-decoration: none;
    font-family: sans-serif;
}


