body {
  background: white;
}
p {
  color: black;
  font-family:sans-serif;
  font-size:20px;
  width:400px;
}
h1 {
  font-weight: bold;
}
a {
  border-style:solid;
  border-color:#ffe734;
  padding:2px;
  border-width:4px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size:35px;
}
img{
  width:1100px;
  display: block;
  margin-left: auto; 
  margin-right:auto;
}
.mid{
text-align:center;
}
.centered {
  text-align: center; /* centers inline elements like links and text */  
  display: flex;
  flex-direction: column;   /* stacks link and text vertically */
  align-items: center;      /* centers horizontally */
  width:100%;
}

.two-columns {
  display: flex;
  justify-content: space-around; /* space between the two sides */
  align-items: flex-start;
  text-align: center;
width: 30%;
}

.column {
  display: flex;
  flex-direction: column; /* stack link and text vertically */
  align-items: center;    /* center them horizontally */

}
